/* Setting default styles for all elements */
*
{box-sizing: border-box
    ;margin: 0;
padding:0;
font-family: Arial, Helvetica, sans-serif;}

/* Setting body background color */
body{
    Background:#f7f2f2;
 ;    display: flex;
 flex-direction: column;
}

 .celsius{
     color: red;
 }
 
/* Nav bar */
nav {
     display: flex;
    flex-wrap: wrap;
    background:#ADBABD;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 0px auto;
    position: relative;
    }

/* Aligning the nav bar header  */
nav h1{
    margin: 2%;
    font-size: 25px;
}

/* Aligning the content in the nav bar */
.nav-list {
    display: flex;
justify-content: flex-end;
align-items: center;
padding: 10px;
height: 100px;}

/* removing the list style */
.nav-item{
    list-style: none;
    padding: 10px;}


/* Changing the nav link style */
.nav-item a
{text-decoration: none;
color: black;}

section
{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;}

/* This controls the space between the h2 and the border line */
.flex-container{
    flex-basis: 55%;}

    .flex-container2{
        flex-basis: 55%;}

        

/* Sizing and aligning the image of me in the snow */
.imgsize{
    width: 30%;
    margin: 11% 7% -18% -31%;
}

/* Styling the paragraph */
p {
    line-height: 2;
    padding: 50px;
    margin: -18% -6% 17% 2%;
}

/* Choosing our work image size, and opacity. Then adding a hover feature*/
.seo
{width: 950px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 18% 22% 22% -14%;
}


.seo:hover
{
  opacity: 0.3;
  filter: alpha(opacity=30);

}

.skyblue
{width: 800px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 18% 22% 22% -14%;
}

.skyblue:hover
{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.redshade{width: 800px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 18% 22% 22% -14%;
}

.redshade:hover
{
  opacity: 0.3;
  filter: alpha(opacity=30);

}



.ok
{display: flex;
flex-wrap: wrap;
justify-content:space-between;
margin: -10px;}

section
{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;}


/* About me header */
section> h2 {
    flex-basis: 20%;
    border-right: black 4px solid;
    margin: 42px 6px -8px 32px;
}


.flex-right{display: flex;
    align-items: row;
margin:100px;}

a{
    text-decoration: inherit;
}
.flex-right.butt{
border: solid 3px #ADBABD;
    border-radius: 72px;
    padding: 11px 33px;
    background-color: cadetblue;
    color: whitesmoke;}

    /* padding: 10px 80px; */








/* Media Queries */

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* Screens with a max width of 1200px, laptops */
@media screen and (max-width:1200px)
    {.imgsize{
        width: 48%;
        margin: 4% 10% 20% 24%;
    } section
    {display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;}
    
    section> h2 {
        flex-basis: 10%;
        border-bottom: black 4px solid;
        border-right: none;
        margin: 40px;}
    
        .seo{
            width: 750px;
           opacity: 1;
           filter: alpha(opacity=100);
           margin: 13% 25% 4% 9%;}
       
       .skyblue{
           width: 600px;
           opacity: 1;
           filter: alpha(opacity=100);
           margin: 13% 25% 4% 9%;}
       
       
       .redshade {
           width: 600px;
           opacity: 1;
           filter: alpha(opacity=100);
           margin: 13% 25% 4% 9%;}
       
       
       
        .flex-right{display: flex;
           align-items: row;
       margin:100px;}
       
       
       .flex-right.butt{
       border: solid 3px #ADBABD;
           border-radius: 72px;
           padding: 15px 108px;
           background-color: cadetblue;
           color: whitesmoke;
           margin: 24px;}}
    





/* Screens with a max width of 768px, tablets */

@media screen and (max-width:768px)
{.imgsize{
    width: 48%;
    margin: 4% 10% 20% 24%;
} section
{display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;}

section> h2 {
    flex-basis: 10%;
    border-bottom: black 4px solid;
    border-right: none;
    margin: 40px;}


    .seo{
        width: 700px;
       opacity: 1;
       filter: alpha(opacity=100);
       margin: 13% 25% 4% 9%;}
   
   .skyblue{
       width: 600px;
       opacity: 1;
       filter: alpha(opacity=100);
       margin: 13% 25% 4% 9%;}
   
   
   .redshade {
       width: 600px;
       opacity: 1;
       filter: alpha(opacity=100);
       margin: 13% 25% 4% 9%;}
   
   
   
    .flex-right{display: flex;
       align-items: row;
   margin:100px;}
   
   
   .flex-right.butt{
   border: solid 3px #ADBABD;
       border-radius: 72px;
       padding: 15px 108px;
       background-color: cadetblue;
       color: whitesmoke;
       margin: 24px;}}


    



/* Screens with a max width of 480px, typically mobile phones*/

@media screen and (max-width:480px)
{.imgsize{
    width: 51%;
    margin: 3% 19% 13% 15%;} 

p {
    line-height: 2;
    padding: 45px;
    margin: -17% -5% 3% 2%;
}

body {display: flex;
    display: flex;
    flex-direction: inherit;
    
}


section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;}

section> h2{
    flex-basis: 10%;
    border-bottom: black 4px solid; 
    border-right: none;
    margin: 40px;}
    

.seo{
     width: 400px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 13% 25% 4% 9%;}

.skyblue{
    width: 350px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 13% 25% 4% 9%;}


.redshade {
    width: 350px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 13% 25% 4% 9%;}



 .flex-right{display: flex;
    align-items: row;
margin:100px;}


.flex-right.butt{
border: solid 3px #ADBABD;
    border-radius: 72px;
    padding: 15px 108px;
    background-color: cadetblue;
    color: whitesmoke;
    margin: 24px;}}